[Desktop Entry]
Name=About
Exec=/usr/bin/avast-gui about
Type=Application
Categories=System;Security
Terminal=false
Encoding=UTF-8
Icon=/usr/share/avast-gui/icons/about.svg
DBusActivatable=true
NoDisplay=false
