[Desktop Entry]
Name=License
Exec=/usr/bin/avast-gui license
Type=Application
Categories=System;Security
Terminal=false
Encoding=UTF-8
Icon=/usr/share/avast-gui/icon-transp.png
DBusActivatable=true
NoDisplay=false
