[Desktop Entry]
Name=Service States
Exec=/usr/bin/avast-gui state
Type=Application
Categories=System;Security
Terminal=false
Encoding=UTF-8
Icon=/usr/share/avast-gui/icons/services.svg
DBusActivatable=true
NoDisplay=false
