[Desktop Entry]
Name=Update
Exec=/usr/bin/avast-gui update
Type=Application
Categories=System;Security
Terminal=false
Encoding=UTF-8
Icon=/usr/share/avast-gui/icons/update.svg
DBusActivatable=true
NoDisplay=false
